<div class="mat-elevation-z3 p-6">
    <!-- header -->
    <div class="text-xl text-gray-500 font-medium decoration-8">Form Details</div>
    <!-- body -->
    <div class="pt-6 text-sm">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-4" [formGroup]="mailForm">
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName">
                <mat-icon color="primary" matPrefix class="mr-2">person</mat-icon>
                <mat-error *ngIf="mailForm.get('firstName')?.getError('required')">Please fill in this field.</mat-error>
                <mat-error *ngIf="!mailForm.get('firstName')?.getError('required') && mailForm.get('firstName')?.getError('pattern')">Please enter a valid name.</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName">
                <mat-icon color="primary" matPrefix class="mr-2">person</mat-icon>
                <mat-error *ngIf="mailForm.get('lastName')?.getError('required')">Please fill in this field.</mat-error>
                <mat-error *ngIf="!mailForm.get('lastName')?.getError('required') && mailForm.get('lastName')?.getError('pattern')">Please enter a valid name.</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="sm:col-span-2">
                <mat-label>Recipient's Email</mat-label>
                <input matInput formControlName="email">
                <mat-icon color="primary" matPrefix class="mr-2">mail</mat-icon>
                <mat-error *ngIf="mailForm.get('email')?.getError('required')">Please fill in this field.</mat-error>
                <mat-error *ngIf="!mailForm.get('email')?.getError('required') && mailForm.get('email')?.getError('pattern')">Please enter a valid email.</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="sm:col-span-2">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description"></textarea>
                <mat-icon color="primary" matPrefix class="mr-2">edit_note</mat-icon>
                <mat-error *ngIf="mailForm.get('description')?.getError('required')">Please fill in this field.</mat-error>
                <mat-error *ngIf="!mailForm.get('description')?.getError('required') && mailForm.get('description')?.getError('pattern')">Please enter a valid text.</mat-error>
            </mat-form-field>
        </div>
    </div>
    <!-- footer -->
    <div class="mt-6">
        <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="mailForm.invalid">Submit</button>
    </div>
</div>